@mixin flexgrid {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    text-align: center;
}

@mixin flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin btn {
    padding: 10px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0;
}

@mixin fixfont {
    width: 104.87px;
    font-size: 0.8em;
}
@mixin navlink {
    text-decoration: none;
    margin: auto;
    color:$gray;
   width:$fullwidth;
}

@mixin desktop {
    @media (min-width:#{$small}) {
        @content;
    }
}

@mixin fixfontbutton{
    @media(min-width:#{$fix-font-start}){
        @content;
    }
}