
// VARIABLES /////////////////////////////////////////////////////////////

// Breakpoint for media query
$small: 763px;
$fix-font-start: 47.688em;




$myfont:1.3em;

$radius:5px;
$fullwidth:100%;
$mypadding:10px;
$font-size: 1.3em;
$linksize:1.6em;
$mymargin:10px;

$tranform:uppercase;
$emerald:#63CC82;
$turquoiseblue:#51DDFC;
$downy:#58E1C1;
$white:#fff;
$darkgray:#a9a9a9;
$ligthgray:#d3d3d3;
$gray:#808080;
$froly:#E4757A;
$coral:#FD7856;
$truev:#927BC1;
$cyan:#80E8D1;

$col6:#3FABCA;
$col4:#7EE6FD;
$col3: #DEB2EE;
$col5:#88D9A0;
$col7:#EC9FA3;
$col8:#FD9F85;


$btn--default:$turquoiseblue;
$btn--success:$emerald;
$btn--error: $froly;
$btn--warning:$coral;
$btn--info:$truev;

$buttonsize:0.8em;


