.img--logo{
  display: block;
  margin: 30px auto;
  text-align: center;
}

.img--frame {
  display: block;
  margin: 50px auto;
  border: 1px solid $ligthgray;
  padding: $mypadding;
  width: $fullwidth;
}

.img--avatar {
  display: block;
  margin: 50px auto;


  

@include desktop{
    margin: 0 auto;
    align-self: center;
    margin-top: $mymargin;
  }
}